@tailwind base;
@tailwind components;
@tailwind utilities;


/* nuclear chain reaction css  */
.random-image {
    position:absolute;
    width: 25px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    background-image: url('./assets/temp/atom\ image.png'); /* Replace with your image path */
    background-size: cover;
}

.utilWireframe{
    @apply flex items-center justify-center text-3xl;
}
.imageCss{
    @apply w-[85] h-60 mx-auto;
}
.bb{
    @apply border-2 border-black;
}
.neutron{
    width:10px;
    height: 10px;
    position: absolute;
    top:145px;
    left:50px;
}
.EnergyWave{
    width:70px;
    height: 35px;
    position: absolute;
}
